.SongsSheet {
    width: 22.5rem;
    position: relative;
    background-color: #F2F3F4;
    position: relative;
    top: -5.2rem;
    z-index: 18;
}

.back-img {
    height: 22.5rem;
    width: 22.5rem;
}

.back-img>img {
    width: 22.5rem;
    height: 22.5rem;
}

.up {
    height: 17.1875rem;
    width: 22.5rem;
    padding: .3125rem 1.25rem 3.125rem;
    position: relative;
    top: -22.5rem;
}

.up-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.25rem;
}

.up-up>img {
    height: 7.5rem;
    width: 7.5rem;
    border-radius: .425rem;
}

.up-up-right {
    padding-left: .625rem;
    height: 7.5rem;
    width: 12.5rem;
}

.title {
    max-height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(241, 241, 241);
    font-weight: 700;
    line-height: 1.5;
    font-size: 16px;
    padding-top: .75rem;
}

.user-info {
    height: 1.25rem;
    width: 11.25rem;
    padding-top: 2.2rem;
}

.user-info>img {
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
}

.user-info>p {
    line-height: 20px;
    font-size: 14px;
    color: rgb(187, 168, 168);
    display: inline-block;
}

.go-back {
    height: 2.5rem;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    top: -9.7rem;
    left: -0.5rem;
}

.go-back-go {
    height: 1.25rem;
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
}

.four-items {
    height: 2.5rem;
    width: 18.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -1.5rem;
    left: 0.75rem;
}

.four-items>li {
    height: 2.5rem;
    width: 1.5rem;
    text-align: center;
}

.four-items>li>span {
    color: #fff;
    text-align: center;
    height: 1.25rem;
    font-size: 1rem;
}

.four-items>li>p {
    line-height: 1.25rem;
    text-align: center;
    font-size: .75rem;
    color: #fff;
}

/* 内容--- */
.down {
    width: 22.5rem;
    background-color: #fff;
    border-radius: 0.5rem .5rem 0 0;
    /* height: 50rem; */
    position: relative;
    top: -8.5rem;
}

.songs-content {
    width: 22.5rem;
}

.first-li {
    width: 21.875rem;
    height: 2.9rem;
    margin-left: .625rem;
    border-bottom: .0625rem #ddd solid;
    border-radius: 0.5rem 0.5rem 0.5rem 0;
}

.first-li-left {
    width: 14.875rem;
    height: 2.9rem;
    float: left;
}

.first-li-right {
    width: 7rem;
    background-color: #D4473C;
    height: 2.9rem;
    float: left;
    border-radius: 0 0.5rem 0.5rem 0;
}

.play-all {
    font-size: 1.3rem;
    position: relative;
    top: 0.75rem;
}

.first-li-left>mark {
    position: relative;
    top: 0.6rem;
    left: 0.5rem;
    background-color: #fff;
}

.big-mark-one {
    font-size: 1.1rem;
}

.small-mark-one {
    color: rgb(187, 168, 168);
}

.first-li-right>span:first-child {
    color: #fff;
    font-size: 1.1rem;
    position: relative;
    top: .7rem;
    padding: 0 .2rem;
}

.first-li-right>span:last-child {
    color: #fff;
    font-size: .9rem;
    position: relative;
    top: .65rem;
}

.first-li-right>span:last-child>mark {
    background-color: #D4473C;
    color: #fff;
    font-size: 1rem;
}

.all-li {
    /* height: 3.75rem; */
    width: 22.5rem;
    position: relative;
}
.all-li-box {
    height: 3.75rem;
    width: 22.5rem;
    position: relative;
}
.all-li-box-left {
    height: 3.75rem;
    width: 3.75rem;
    float: left;
    text-align: center;
    line-height: 3.75rem;
    font-size: 1.2rem;
}
.all-li-box-right {
    height: 3.6875rem;
    width: 18.5rem;
    float: right;
    border-bottom: 0.0625rem solid #ddd;
    position: relative;
}

.all-li-box-right>p:first-child {
    width: 18.75rem;
    position: absolute;
    top: .5rem;
    /*文本溢出时处理方式ellipsis--省略号*/
    text-overflow: ellipsis;
    /*设置文本不换行*/
    white-space: nowrap;
    /*超出标签的部分隐藏*/
    overflow: hidden;
}

.all-li-box-right>p:last-child {
    width: 18.75rem;
    font-size: 0.75rem;
    color: #999;
    position: absolute;
    top: 2rem;
    /*文本溢出时处理方式ellipsis--省略号*/
    text-overflow: ellipsis;
    /*设置文本不换行*/
    white-space: nowrap;
    /*超出标签的部分隐藏*/
    overflow: hidden;
}